{% extends 'calc/base.html' %}
{% load static %}
{% block content %}
 <!-- color switcher start -->
 <div class="color-switcher">
    <div class="color-switcher-inner">
        <div class="switcher-icon">
            <i class="fa fa-cog fa-spin"></i>
        </div>

        <div class="switcher-panel-item">
            <h3>Color Schemes</h3>
            <ul class="nav flex-wrap colors">
                <li class="default active" data-color="default" data-toggle="tooltip" data-placement="top" title="Red"></li>
                <li class="green" data-color="green" data-toggle="tooltip" data-placement="top" title="Green"></li>
                <li class="soft-green" data-color="soft-green" data-toggle="tooltip" data-placement="top" title="Soft-Green"></li>
                <li class="sky-blue" data-color="sky-blue" data-toggle="tooltip" data-placement="top" title="Sky-Blue"></li>
                <li class="orange" data-color="orange" data-toggle="tooltip" data-placement="top" title="Orange"></li>
                <li class="violet" data-color="violet" data-toggle="tooltip" data-placement="top" title="Violet"></li>
            </ul>
        </div>

        <div class="switcher-panel-item">
            <h3>Layout Style</h3>
            <ul class="nav layout-changer">
                <li><button class="btn-layout-changer active" data-layout="wide">Wide</button></li>
                <li><button class="btn-layout-changer" data-layout="boxed">Boxed</button></li>
            </ul>
        </div>

        <div class="switcher-panel-item bg">
            <h3>Background Pattern</h3>
            <ul class="nav flex-wrap bgbody-style bg-pattern">
                <li><img src="assets/img/bg-panel/bg-pettern/1.png" alt="Pettern"></li>
                <li><img src="assets/img/bg-panel/bg-pettern/2.png" alt="Pettern"></li>
                <li><img src="assets/img/bg-panel/bg-pettern/3.png" alt="Pettern"></li>
                <li><img src="assets/img/bg-panel/bg-pettern/4.png" alt="Pettern"></li>
                <li><img src="assets/img/bg-panel/bg-pettern/5.png" alt="Pettern"></li>
                <li><img src="assets/img/bg-panel/bg-pettern/6.png" alt="Pettern"></li>
            </ul>
        </div>

        <div class="switcher-panel-item bg">
            <h3>Background Image</h3>
            <ul class="nav flex-wrap bgbody-style bg-img">
                <li><img src="assets/img/bg-panel/bg-img/01.jpg" alt="Images"></li>
                <li><img src="assets/img/bg-panel/bg-img/02.jpg" alt="Images"></li>
                <li><img src="assets/img/bg-panel/bg-img/03.jpg" alt="Images"></li>
                <li><img src="assets/img/bg-panel/bg-img/04.jpg" alt="Images"></li>
                <li><img src="assets/img/bg-panel/bg-img/05.jpg" alt="Images"></li>
                <li><img src="assets/img/bg-panel/bg-img/06.jpg" alt="Images"></li>
            </ul>
        </div>
    </div>
</div>
<!-- color switcher end -->

<div class="wrapper box-layout">

    <!-- header area start -->
 
    <!-- header area end -->

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ tag.name }}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- page wrapper start -->
    <div class="page-main-wrapper">
        <div class="container">
            <div class="row">
                <!-- sidebar start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="shop-sidebar-wrap mt-md-28 mt-sm-28">
                        <!-- sidebar categorie start -->
                        <div class="sidebar-widget mb-30">
                            <div class="sidebar-category">
                                <ul>
                                    <li class="title"><i class="fa fa-bars"></i> categories</li>
                                    <li><a href="#">books</a><span>(10)</span></li>
                                    <li><a href="#">camera</a><span>(12)</span></li>
                                    <li><a href="#">computer</a><span>(08)</span></li>
                                    <li><a href="#">electronic</a><span>(16)</span></li>
                                    <li><a href="#">Necklaces</a><span>(11)</span></li>
                                    <li><a href="#">Rugby</a><span>(20)</span></li>
                                    <li><a href="#">smart phones</a><span>(15)</span></li>
                                    <li><a href="#">tablet</a><span>(12)</span></li>
                                    <li><a href="#">watch</a><span>(10)</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- sidebar categorie start -->

                        <!-- manufacturer start -->
                        <div class="sidebar-widget mb-30">
                            <div class="sidebar-title mb-10">
                                <h3>Manufacturers</h3>
                            </div>
                            <div class="sidebar-widget-body">
                                <ul>
                                    <li><i class="fa fa-angle-right"></i><a href="#">calvin klein</a><span>(10)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">diesel</a><span>(12)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">polo</a><span>(20)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">Tommy Hilfiger</a><span>(12)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">Versace</a><span>(16)</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- manufacturer end -->

                        <!-- pricing filter start -->
                        <div class="sidebar-widget mb-30">
                            <div class="sidebar-title mb-10">
                                <h3>filter by price</h3>
                            </div>
                            <div class="sidebar-widget-body">
                                <div class="price-range-wrap">
                                    <div class="price-range" data-min="50" data-max="400"></div>
                                    <div class="range-slider">
                                        <form action="#" class="d-flex justify-content-between">
                                            <button class="filter-btn">filter</button>
                                            <div class="price-input d-flex align-items-center">
                                                <label for="amount">Price: </label>
                                                <input type="text" id="amount">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- pricing filter end -->

                        <!-- product size start -->
                        <div class="sidebar-widget mb-30">
                            <div class="sidebar-title mb-10">
                                <h3>size</h3>
                            </div>
                            <div class="sidebar-widget-body">
                                <ul>
                                    <li><i class="fa fa-angle-right"></i><a href="#">s</a><span>(10)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">m</a><span>(12)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">l</a><span>(20)</span></li>
                                    <li><i class="fa fa-angle-right"></i><a href="#">XL</a><span>(12)</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- product size end -->

                        <!-- product tag start -->
                        <div class="sidebar-widget mb-30">
                            <div class="sidebar-title mb-10">
                                <h3>tags</h3>
                            </div>
                            <div class="sidebar-widget-body">
                                <div class="product-tag">
                                    {% for tag in products.tags.all %}
                                        <a href="#"> 
                                            {{ tag.name }}
                                             </a>
                                             {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- product tag end -->

                        <!-- sidebar banner start -->
                        <div class="sidebar-widget mb-30">
                            <div class="img-container fix img-full">
                                <a href="#"><img src="assets/img/banner/banner_shop.jpg" alt=""></a>
                            </div>
                        </div>
                        <!-- sidebar banner end -->
                    </div>
                </div>
                <!-- sidebar end -->

                <!-- product main wrap start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-banner img-full">
                        <img src="assets/img/banner/banner_static1.jpg" alt="">
                    </div>
                    <!-- product view wrapper area start -->
                    <div class="shop-product-wrapper pt-34">
                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row">
                                <div class="col-lg-7 col-md-6">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode mr-70 mr-sm-0">
                                            <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                            <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                                        </div>
                                        <div class="product-amount">
                                            <p>we have  found product {{ products.count }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6">
                                    <div class="top-bar-right">
                                        <div class="product-short">
                                            <p>Sort By : </p>
                                            <select class="nice-select" name="sortby">
                                                <option value="trending">Relevance</option>
                                                <option value="sales">Name (A - Z)</option>
                                                <option value="sales">Name (Z - A)</option>
                                                <option value="rating">Price (Low &gt; High)</option>
                                                <option value="date">Rating (Lowest)</option>
                                                <option value="price-asc">Model (A - Z)</option>
                                                <option value="price-asc">Model (Z - A)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop product top wrap start -->

                        <!-- product item start -->
                        <div class="shop-product-wrap grid row">
                            {% for p in products %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!-- product single grid item start -->
                                <div class="product-item fix mb-30">
                                    <div class="product-thumb">
                                        <a href="{% url 'product-detail' p.pid %}">
                                            <img src="{{ p.image.url }}" class="img-pri" alt="">
                                            <img src="{{ p.image.url }}" class="img-sec" alt="">
                                        </a>
                                        <div class="product-label">
                                            <span>-{{ p.get_percentage|floatformat:0}}%</span>
                                        </div>
                                        <div class="product-action-link">
                                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4><a href="{% url 'product-detail' p.pid %}">{{ p.category.title }}</a></h4>
                                        <div class="pricebox">
                                            <span class="regular-price">{{ p.price }}</span>
                                            <div class="ratings">
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span class="good"><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <div class="pro-review">
                                                    <span>1 review(s)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- product single grid item end -->
                                <!-- product single list item start -->
                                <div class="product-list-item mb-30">
                                    <div class="product-thumb">
                                        <a href="product-details.html">
                                            <img src="{{ p.image.url }}" class="img-pri" alt="">
                                            <img src="{{ p.image.url }}" class="img-sec" alt="">
                                        </a>
                                        <div class="product-label">
                                            <span>-{{ p.get_percentage|floatformat:0}}%</span>
                                        </div>
                                    </div>
                                    <div class="product-list-content">
                                        <h3><a href="product-details.html">{{ p.category.title }}</a></h3>
                                        <div class="ratings">
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <div class="pro-review">
                                                <span>1 review(s)</span>
                                            </div>
                                        </div>
                                        <div class="pricebox">
                                            <span class="regular-price">{{ p.price }}</span>
                                            <span class="old-price"><del>{{ p.old_price }}</del></span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        <p>Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.</p>
                                        <div class="product-list-action-link">
                                            <a class="buy-btn" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">go to buy <i class="fa fa-shopping-cart"></i> </a>
                                            <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- product single list item start -->
                            </div> <!-- product single column end -->
                            {% endfor %}
                           
                        </div>
                        <!-- product item end -->
                    </div>
                    <!-- product view wrapper area end -->

                    <!-- start pagination area -->
                    <div class="paginatoin-area text-center pt-28">
                        <div class="row">
                            <div class="col-12">
                                <ul class="pagination-box">
                                    <li><a class="Previous" href="#">Previous</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a class="Next" href="#"> Next </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end pagination area -->

                </div>
                <!-- product main wrap end -->
            </div>
        </div>
    </div>
    <!-- page wrapper end -->

    <!-- brand area start -->
    <div class="brand-area pt-4 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-30">
                        <div class="title-icon">
                            <i class="fa fa-crop"></i>
                        </div>
                        <h3>Popular Brand</h3>
                    </div> <!-- section title end -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="brand-active slick-padding slick-arrow-style">
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br1.png" alt=""></a>
                        </div>
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br2.png" alt=""></a>
                        </div>
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br3.png" alt=""></a>
                        </div>
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br4.png" alt=""></a>
                        </div>
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br5.png" alt=""></a>
                        </div>
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br6.png" alt=""></a>
                        </div>
                        <div class="brand-item text-center">
                            <a href="#"><img src="assets/img/brand/br4.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand area end -->

    <!-- footer area start -->
    
    <!-- footer area end -->

</div>

<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider slick-arrow-style_2 mb-20">
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img1.jpg" alt="" />
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img2.jpg" alt=""/>
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img3.jpg" alt=""/>
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img4.jpg" alt=""/>
                                </div>
                                <div class="pro-large-img">
                                    <img src="assets/img/product/product-details-img5.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="pro-nav slick-padding2 slick-arrow-style_2">
                                <div class="pro-nav-thumb"><img src="assets/img/product/product-details-img1.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="assets/img/product/product-details-img2.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="assets/img/product/product-details-img3.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="assets/img/product/product-details-img4.jpg" alt="" /></div>
                                <div class="pro-nav-thumb"><img src="assets/img/product/product-details-img5.jpg" alt="" /></div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des mt-md-34 mt-sm-34">
                                <h3><a href="product-details.html">external product 12</a></h3>
                                <div class="ratings">
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <div class="pro-review">
                                        <span>1 review(s)</span>
                                    </div>
                                </div>
                                <div class="availability mt-10">
                                    <h5>Availability:</h5>
                                    <span>1 in stock</span>
                                </div>
                                <div class="pricebox">
                                    <span class="regular-price">$160.00</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
                                Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.</p>
                                <div class="quantity-cart-box d-flex align-items-center mt-20">
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                    <div class="action_link">
                                        <a class="buy-btn" href="#">add to cart<i class="fa fa-shopping-cart"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>
<!-- Quick view modal end -->




<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->


<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->


   

{% endblock %}